*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border:border-box;
    box-sizing: border-box;
}
body{
    background-color: #e2e6e6;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
 
    


}
.nav-logo{
    height: 50px;
    width: 100px;
    


}
.logo{
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
    border-radius: 2px;
    
}
/* Box 2 */
.nav-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 6%;
 
    height: 50px;
    padding: 0 0 0 5px;
    margin-left: 4px;
    
    
}


.add-first{
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 16px;
}
.add-sec{
    color: #FFFFFF;
    font-size: 0.875rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}
/* box 3  */
.nav-search{
    background-color: #0f1111;
    display: flex;
    height: 40px;
    width: 63rem;
    border-radius: 4px;
    justify-content: space-evenly;
    margin: 0px 0px 0 9px;
    border: 1px solid transparent;
    
    
}

.nav-search:hover{
    border: 1px solid orange;
    border-radius: 4px;

}


.select-search{
    border-radius: 4px 0px 0px 4px ;
    border: none;
    background-color: #F3F3F3;
    width: 52px;
    text-align: center;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 5px;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-radius: 0px 4px 4px 0px;
    color: #0f1111;
}

/* div 4 style  */
.flag-lang{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 14px;
}

.flag{
    height:25px;
    width: 35px;
    background-image: url('/nepal_flag\ Background\ Removed.png');
    background-size: cover;
    margin-left: 10px;
}
.lang-select{
    background-color: #0f1111;
    color: white;
    border: none;
}
.text-account{
    font-size: 12px;
    border: 2px solid #0f1111;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 9px ;

}
.account-lists{
    font-weight: bold;
    font-size: 0.875rem;
    border: none;
    background-color: #0f1111;
    color: white;
    

}
.hello-para{
    margin-left: 3px;
    
}
.returns-orders{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 9px;
    

}
.returns{
    font-size: 0.75rem;
}
.orders{
    font-size: 0.875rem;
    font-weight: bold;
}
.cart-icon i{ 
   font-size: 30px;
}
.cart-box{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 9px;

}
.panel{
    display: flex;
    background-color:#222f3e ;
    height: 40px;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}
.panel-ops{
    width: 95%;
}
.panel-ops{
    display: flex;
    
}
.panel-ops p{
    font-size: 0.875rem;
  
    margin: 0px 6px 0px 6px;
    
}
.panel-all{
    padding: 8px 9px;
    font-size: 0.875rem;
}
/* main  */

.background-image{
    height: 600px;
    background-image: url("/amazon_background.jpg");
    background-size:cover;
   
}

.main-section{
    width: 100%;
    height: 900px;
    position: relative;
    top: -150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
    
   

    
}
.box{
    width: 23%;
    height: 400px;
    border: none;
    box-shadow: 1px 2px 5px 2px #4b5151;
    background-color: white;

}


.box h2{
   
    font-size: 1.3125rem;
    
    
   
}
.see-more{
    margin-top: 20px;
}

.dad-deals{
   
    background-color: white;
    box-shadow: 1px 2px 5px 2px #4b5151;
}


.box-content{
    margin: 0 1rem 0 1rem;
    padding: 20px 0px 15px;
}
.flex-item-img{
    margin-top: 2px;
    background-size: cover;
    height: 300px;

}
.shop-deals-image1{
   
    background-image: url("/shop-deal-1.jpg");
    
    
}
.gaming-accesories-image1{
    
    background-image: url("/gaming-assesories..jpg");
   
  

}
.toys-under-image1{
    background-image: url("/toysUnder25.jpg");
    
}
.box-right{
    width: 40%;
    
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 0;
}

.quad-image{
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.box-image{
    height: 312px;
    
   
    
}
.row-image{
    width: 48%;
    height: 130px;
    background-color: white;

}

.row1-image-1{
    background-image: url("/row1-image1.jpeg");
    background-size: cover;

}
.row1-image-2{
    background-image: url("/row1-imag2.jpg");
    background-size: cover;
}
.row2-image-1{
    background-image: url("/row2-image1.jpg");
    background-size: cover;
}
.row2-image-2{
    background-image: url("/row2-image2.jpg");
    background-size: cover;
}
.shop-all{
    margin-top: 0.8125rem;
}
.beauty-row1-image-1{
    background-image: url("/makeup-iamge-1.jpeg");
    background-size: cover;
}
.beauty-row1-image-2{
    background-image: url("/makeup-image-2.jpg");
    background-size: cover;
}
.beauty-row2-image-1{
    background-image: url("/makeup-image-3.jpg");
    background-size: cover;
}
.beauty-row2-image-2{
    background-image: url("/makeup-image-4.jpg");
    background-size: cover;
}
.office-furniture{
    background-image: url("/office-furniture.jpg");
    background-size: cover;

}
.levelUp-gaming{
    background-image: url("/level-up-gaming.webp");
    
}
.camera-image{
    background-image: url("/camera-photo.jpeg");
    background-size: cover;
}
/* best selling books */
.best-seller-books{
    position: relative;
    top: -150px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.best-seller-books h2{
    font-size: 1.3125rem;
    margin-left: 2rem;

}
.book-box-content{
   margin: 10px 20px;
   


}
.flex-books{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    

}
.flex-book{
    width: 10%;
    height: 220px;
  
    background-color: black;
    background-image: url("/book1.jpg");
    background-size: cover;
}
.flex-item-book1 {
    background-image: url("/book1.jpg");
    background-size: cover;

}

